/*Медиа*/

@media print {
  #printBtn { 
    display:none;
    margin-top: 20px;
    margin-left: 20px;
  }
}


/*Глобальные*/
body {
	font-family: "Times New Roman", serif;
	
}

th {
 	border: 1px solid black;
 	text-align: center;
}

td {
   border: 1px solid black;	
}
/*Блочные элементы*/

/*<div>*/

.block1 {
    width: 210mm;   /* ширина */
    height: 297mm; /* высота */
    margin: 0px auto;  /* выравнивание по центру */
    background-color: white;  /* цвет фона в блоке */
    padding: 15mm 15mm 15mm 15mm;
    
        }

/*<h5>*/

.zagolovok1 {
	text-align: right;
	font-size: 12px;
}


.zagolovok2 {
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}

/*<table>*/


.table1 {

	border: 1px solid black;
    /*table-layout:fixed;*/
    text-align: center;
    /*border-collapse: collapse;*/
    font-size: 11px;
    margin: auto;
    
    

}

/*Строчные элементы*/

/*<p>*/

.paragraph1 {
	margin-top: 20px;
	margin-left: 0px;
	font-size: 12px;
	font-weight: bold;
}

.paragraph2 {
	margin-top: -10px;
	margin-left: 40px;
	font-size: 8px;
}


/*<span>*/

.span1 {
	margin-top: 20px;
	font-size: 10px;
	margin-left: 15px;

}

/*<td>*/

.td1 {
	font-weight: bold;
}

.td2 {
	text-align: center;
	padding-left: 1mm;
	padding-right: 1mm;
}

.td3 {
    text-align: right;
	padding-left: 2mm;
	padding-right: 1mm;

}

/*th*/

.th1 {
	padding-left: 5mm;
	padding-right: 5mm;
}
