/*Глобальные*/
body {
	font-family: "Times New Roman", serif;
}

/*Блочные элементы*/

/*<h5>*/
.zagolovok1 {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}

/*<div>*/

.block1 {
  margin-top: 20px;
  margin-left: 20px;
}
