/*Глобальные*/
body {
	font-family: "Times New Roman", serif;
	font-size: 14px;
}

h4 {
  margin-top: 20px;
  margin-left: 20px;
}

p {
  margin-top: 20px;
  margin-left: 20px;
}

div {
  margin-top: 20px;
  margin-left: 20px;
}

