/*Глобальные*/
body {
	font-family: "Times New Roman", serif;
	font-size: 14px;
}

th {
 	border: 1px solid black;
 	text-align: center;
}

td {
   border: 1px solid black;	
}
/*Блочные элементы*/

/*<header>*/
.main {
	margin: 0px 0px 0px 20px;
}

/*<h3>*/

.zagolovok1 {
	font-weight: bold;
}


/*<div>*/
.block1 {
	margin: 0px 0px 0px 20px;
}

.block2 {
	margin: 20px 0px 0px 0px;
}

.block3 {
	margin: 20px 0px 0px 20px;
    overflow-y:auto;
    overflow-x:hidden;
    height: 400px;
}

.block4 {
  display: inline-block;
  vertical-align: top;  
}

.block5 {
  margin-left: 100px;
}

/*<p>*/

.paragraph1 {
	margin: 20px 0px 0px 20px;
}

.paragraph2 {
	font-size: 20px;
}


/*<table>*/

.table1 {
  border: 1px solid black;
  table-layout:fixed;
  text-align: center;
  border-collapse: collapse;
  width: 60%;
}


/*Строчные элементы*/

/*<select>*/

.sel1 {
  width: 600px;
}

/*td*/

.td1{
	width: 0%;
	visibility: hidden;
}
.td2{
	background-color: red;
	text-align: right;
	padding-left: 1mm;
	padding-right: 1mm;
}

.td3 {
	text-align: center;
}

.td4 {
	text-align: center;
	padding-left: 1mm;
	padding-right: 1mm;
}

.td5 {
	text-align: left;
	padding-left: 2mm;
	padding-right: 1mm;
}

.td6 {
	text-align: right;
	padding-left: 1mm;
	padding-right: 1mm;
}

.td7 {
	text-align: center;
	padding-left: 1mm;
	padding-right: 1mm;
	font-weight: bold;
}

.td8 {
	text-align: right;
	padding-left: 1mm;
	padding-right: 1mm;
	font-weight: bold;
}


/*<input>*/

.input1 {
	width: 50px;
	text-align: right;
	border: none;
}

/*<th>*/

.th1 {
  width: 5%;
}

.th2 {
  width: 7%;
}

.th3 {
  width: 10%;
}

.th4 {
  width: 7%;
}

.th5 {
  width: 7%;
}

.th6: {
  width: 10%;
}

.th7 {
  width: 7%;
}

.th11{
	width: 0%;
	visibility: hidden;
}
