/*Глобальные*/
body {
	font-family: "Times New Roman", serif;
	font-size: 14px;
}

th {
 	border: 1px solid black;
 	text-align: center;
}

td {
   border: 1px solid black;	
}
/*Блочные элементы*/

/*<header>*/
.main {
	margin: 0px 0px 0px 20px;
}

/*<h3>*/

.zagolovok1 {
	font-weight: bold;
}

/*<div>*/
.block1 {
	margin: 0px 0px 0px 20px;
}

.block2 {
	margin: 20px 0px 0px 0px;
}

.block3 {
	margin: 20px 0px 0px 0px;
  overflow-y:auto;
  overflow-x:hidden;
  height: 500px;
}
.block4 {
  margin: 20px 0px 0px 50px;

}

.block5 {
  display: inline-block;
  vertical-align: top;

}
/*<table>*/


.table1 {
 	border: 1px solid black;
  table-layout:fixed;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

/*<p>*/

.paragraph1 {
  margin-top: 20px;
}

.paragraph2 {
  margin-left: 400px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
}

.paragraph3 {
  margin: 20px 0px 0px 0px;
  font-size: 20px;
  font-weight: bold;
}

/*Строчные элементы*/


/*<select>*/

.sel1 {
  width: 400px;
}

/*td*/

.td1{
	width: 0px;
	visibility: hidden;
}

.td2{
  text-align: center;
}

.td3{
  text-align: left;
  padding-left: 2mm;
  padding-right: 1mm;
}

.td4 {
  text-align: right;
  padding-left: 1mm;
  padding-right: 2mm;
}

.td5{
  text-align: right;
  font-weight: bold;
  padding-right: 5mm;
}
/*<th>*/

.th1 {
  width: 3%;
}

.th2 {
 width: 5%; 
}

.th3 {
 width: 6%; 
}

.th4 {
 width: 38%; 
}

.th5 {
 width: 20%;    
}

.th6 {
 width: 5%; 
}

.th7 {
 width: 5%;
}

.th8 {
 width: 5%;  
}

.th9 {
 width: 5%;   
}

.th10 {
 width: 8%;  
}

/*<input>*/

.input1 {
	width: 70px;
  border: none;
  text-align: right;

}

.input2 {
  width: 70px;
}

.input3 {
  width: 90px;
}

.input4 {
  width: 400px;
}

/*<button>*/

.but1{
  visibility: hidden;
}
.but2{
  visibility: visible;
}
